<footer id="contact" class="page-footer">
	<div class="container">
		<h3>C<span class="underline">ontac</span>t</h3>
		<br>
		<p>Have a question or want to work together?</p>
		<form name="form" method="POST">
			<div class="row">
				<div class="col s12 l6 input-field">
					<span class="mdi mdi-account prefix"></span>
					<input type="text" id="username" name="username">
					<label for="name">Name</label>
				</div>
				<div class="col s12 l6 input-field">
					<span class="mdi mdi-email prefix"></span>
					<input type="email" id="email" name="email">
					<label for="email">Email</label>
				</div>
			</div>
			<div class="row">
				<div class="col s12 input-field">
					<i class="mdi mdi-message prefix"></i>
					<textarea id="message" class="materialize-textarea" name="message"></textarea>
					<label for="message">Your Message</label>
				</div>
			</div>
		</form>
		<div class="row">
			<div class="input-field s12">
				<button id="submitButton" type="submit" class="btn hoverable">Send Message</button>
			</div>	
		</div>
	</div>
	<div id="footer" class="footer-copyright scrollspy">
		<div class="container row">
			<div class="col s12">
				<span>Uzoanya Dominic&nbsp;&copy; {{year}} </span>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<ul id="footerLinks">
					<li class="footerLinks"><a href="https://github.com/barman47" target="_blank"><span class="mdi mdi-github-circle footer-icons"></span></a></li>
					<li class="footerLinks"><a href="https://web.facebook.com/uzoanya.dominic" target="_blank"><span class="mdi mdi-facebook footer-icons"></span></a></li>
					<li class="footerLinks"><a href="https://www.youtube.com/channel/UC9baFhLF3bCEPSZgje4k99A?view_as=subscriber" target="_blank"><span class="mdi mdi-youtube footer-icons"></span></a></li>
					<li class="footerLinks"><a href="https://www.instagram.com/sirbarman/?hl=en" target="_blank"><span class="mdi mdi-instagram footer-icons"></span></a></li>
					<li class="footerLinks"><a href="https://ng.linkedin.com/in/uzoanya-dominic-51b599137" target="_blank"><span class="mdi mdi-linkedin footer-icons"></span></a></li>
					<li class="footerLinks"><a href="https://twitter.com/uzoanya_dominic" target="_blank" ><span class="mdi mdi-twitter footer-icons"></span></a></li>
					<li class="footerLinks"><a href="https://medium.com/@uzoanyadominic" target="_blank"><span class="mdi mdi-medium footer-icons"></span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="fixed-action-btn">
		<a href="#page-top" id="top" class="btn-floating blue darken-2"><i class="mdi mdi-arrow-up"></i></a>
	</div>
</footer>