<header id="home" class="scrollspy">
	<nav class="nav-wrapper pushpin">
		{{!-- <a href="" class="brand-logo"><img id="logo" src="/img/logo.png" alt="Dominic Logo"></a> --}}
		<a href="#" class="sidenav-trigger" data-target="mobile-menu"><i class="mdi mdi-menu"></i></a>
		<ul class="eft hide-on-med-and-down">
			<li><a href="#home">Home</a></li>
			<li><a href="#about">About</a></li>
			<li><a href="#projects-target">Portfolio</a></li>
			<li><a href="#footer">Contact</a></li>
		</ul>
		<ul class="sidenav" id="mobile-menu">
			<li><a href="#home" class="sidelinks">Home</a></li>
			<li><a href="#about" class="sidelinks">About</a></li>
			<li><a href="#projects-target" class="sidelinks">Portfolio</a></li>
			<li><a href="#footer" class="sidelinks">Contact</a></li>
		</ul>
	</nav>
</header>