<div class="col s12 section center">
    <div class="row s12">
        <img src="img/404.jpg" alt="Page Not Found" class="responsive-img">
    </div>
    <div class="row s12">
        <h1 class="flow-text">Oops!!! The Page You Requested Does not exist. Please check the URL.</h1>
    </div>
</div>