
        <!-- navbar -->
  		<header id="header" class="scrollspy">
				<nav class="nav-wrapper transparent">
					<div class="container">
						<a href="" class="brand-logo">Dominic</a>
						<a href="#" class="sidenav-trigger" data-target="mobile-menu">
							<i class="material-icons">menu</i>
						</a>
						<ul class="right hide-on-med-and-down">
							<li><a href="#skills">Skills</a></li>
							<li><a href="#services">Services</a></li>
							<li><a href="#contact">Contact</a></li>
							<li><a href="#about">About</a></li>
						</ul>
						<ul class="sidenav grey lighten-2" id="mobile-menu">
							<li><a href="#skills">Skills</a></li>
							<li><a href="#services">Services</a></li>
							<li><a href="#contact">Contact</a></li>
							<li><a href="#about">About</a></li>
						</ul>
					</div>
				</nav>
			<div class="white-text center-align" id="headerDiv">
				<h3><span id="hi">Hi,</span><span id="name"> I'm <span class="yellow-text">Dominic</span></span></h3>
				<h5 id="greetingText">Web Developer & Programmer</h5>
			</div>
		  </header>
		  
	  	<!-- photo / grid -->
	  	<secton id="skills" class="container section scrollspy">
			  <h2 class="blue-text text-darken-4 center">My Skills</h2>
			<div class="row">
				<div class="col s12 l4 offset-l1">
					<img src="img/java.png" alt="A potrait" class="responsive-img materialboxed">
				</div>
				<div class="col s12 l6 offset-l1">
					<h2 class="blue-text text-darken-4">Java</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, facilis.</p>
				</div>
			</div>

			<div class="row">
				<div class="col s12 l4 push-l6 offset-l1">
					<img src="img/javscript.jpg" alt="City" class="responsive-img materialboxed">
				</div>
				<div class="col s12 l6 pull-l5 right">
					<h2 class="blue-text text-darken-4">JavaScript</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, facilis.</p>
				</div>
			</div>

			<div class="row">
				<div class="col s12 l4 offset-l1">
					<img src="img/sql.jpg" alt="Nature" class="responsive-img materialboxed">
				</div>
				<div class="col s12 l6 offset-l1">
					<h2 class="blue-text text-darken-4">SQL</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, facilis.</p>
				</div>
			</div>

			<div class="row">
				<div class="col s12 l4 offset-l1 push-l6">
					<img src="img/nosql.jpg" alt="A potrait" class="responsive-img materialboxed">
				</div>
				<div class="col s12 l6 offset-l1 pull-l5">
					<h2 class="blue-text text-darken-4">NoSQL</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, facilis.</p>
				</div>
			</div>

			<div class="row">
				<div class="col s12 l4 offset-l1">
					<img src="img/nodejs.png" alt="A potrait" class="responsive-img materialboxed">
				</div>
				<div class="col s12 l6 offset-l1">
					<h2 class="blue-text text-darken-4">NodeJS</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, facilis.</p>
				</div>
			</div>

			<div class="row">
				<div class="col s12 l4 push-l6 offset-l1">
					<img src="img/webDevelopment.jpg" alt="City" class="responsive-img materialboxed">
				</div>
				<div class="col s12 l6 pull-l5 right">
					<h2 class="blue-text text-darken-4">Web Development</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, facilis.</p>
				</div>
			</div>

			<div class="row">
				<div class="col s12 l4 offset-l1">
					<img src="img/shopify.jpg" alt="A potrait" class="responsive-img materialboxed">
				</div>
				<div class="col s12 l6 offset-l1">
					<h2 class="blue-text text-darken-4">Shopify</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, facilis.</p>
				</div>
			</div>

			<div class="row">
				<div class="col s12 l4 push-l6 offset-l1">
					<img src="img/wordpress.png" alt="City" class="responsive-img materialboxed">
				</div>
				<div class="col s12 l6 pull-l5 right">
					<h2 class="blue-text text-darken-4">Wordpress</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, facilis.</p>
				</div>
			</div>
	  	</secton>

	  <!-- parallax -->
	  <div class="parallax-container white-text">
		  <div class="parallax"><img src="img/code.jpg" alt="Laptop showing code"></div>
		  <span>Photo by&nbsp;</span><a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@_imkiran?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Sai Kiran Anagani"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-1px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Sai Kiran Anagani</span></a>
	  </div>

	  <!-- services / tabs -->
	  <section class="container section scrollspy" id="services">
		  <div class="row">
			  	<div class="col s12 l4">
				  	<h2 class="blue-text text-darken-4">What I do</h2>
					  	<p class="whatIDo">Simply put, I design and develop experiences that make people's lives simple.</p>
					  	<p class="whatIDo">I develop web and desktop applications. My preferred technology of choice is Nodejs on the server-side coupled with MySQL or SqLite Database management systems, or MongoDB. Depending on the kind of application.</p>
				</div>
			
				<div class="col s12 l6 offset-l2">
					<ul class="tabs">
						<li class="tab col s6">
							<a href="#webDevelopment" class="orange-text text-darken-4">Web Development</a>
						</li>
						<li class="tab col s6">
							<a href="#desktopDevelopment" class="orange-text text-darken-4">Desktop Apps</a>
						</li>
					</ul>
					<div class="col s12 green-" id="webDevelopment">
						<p class="flow-text blue-text text-darken-4">Web Development</p>
						<p>My web applications are developed using a combination of some or all of the following technologies: HTML, CSS, JavaScript, Angular, Nodejs and any database system should the need arise.</p>
					</div>
					<div class="col s12" id="desktopDevelopment">
						<p class="flow-text blue-text text-darken-4">Desktop Applications</p>
						<p>I build cross platform desktop applications using JavaFX or Electron to automate tedious every day business tasks.</p>
					</div>
				</div>
			</div>
	  	</section>
 
	  	<!-- parallax -->
		<div class="parallax-container white-text">
			<div class="parallax"><img src="img/macbook.jpg" alt="A macbook" class="responsive-img"></div>
			<span></span>Photo by&nbsp;<a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@marvelous?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Marvin Meyer"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-1px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Marvin Meyer</span></a>
		</div>	
		

	  	<!-- contact form -->
	  	<section class="container section scrollspy" id="contact">
			<div class="row">
				<div class="col s12 l5">
					<h4 class="blue-text text-darken-4">In Nigeria? Get In Touch.</h4>
					<p id="contactMessage">
						No? That’s cool, too. I still want to chat! The best way to get in touch is to call me on +2349026425337 or +2348147233059. If you’d rather send an email, though, you can reach me at: <span style="font-weight: bolder;">nomsouzoanya@yahoo.co.uk</span>
					</p>
				</div>
				<div class="col s12 l5 offset-l2">
					<form name="form" method="POST">
						<div class="input-field">
							<i class="material-icons prefix">email</i>
							<input type="email" id="email" name="email">
							<label for="email">Your Email</label>
						</div>
						<div class="input-field">
							<i class="material-icons prefix">message</i>
							<textarea id="message" class="materialize-textarea" name="message"></textarea>
							<label for="message">Your Message</label>
						</div>
						<div class="input-field">
							<input type="text" id="date" class="datepicker" name="date">
							<label for="date">Choose a date you need me for...</label>
						</div>
						<div class="input-field">
							<p>Services required...</p>
							<p>
								<label>
									<input type="checkbox" id="web" name="web" value="Web Development">
									<span>Web Development</span>
								</label>
							</p>
							<p>
								<label>
									<input type="checkbox" id="desktopApp" name="desktopApp" value="Desktop Application">
									<span>Desktop Applications</span>
								</label>
							</p>
							<p>
								<label>
									<input type="checkbox" id="sayHi" name="sayHi" value="Just Saying Hi">
									<span>I don't require any service, just saying Hi</span>
								</label>
							</p>
						</div>
						<p>I'll be in touch.</p>
					</form>
					<div class="input-field">
						<button id="submitButton" type="submit" class="btn hoverable">Send Message</button>
					</div>
				</div>
			</div>
		</section>

	  <!-- footer -->
	  	<footer class="page-footer grey darken-3">
		  	<div class="container">
			    <div class="row">
					<hr>
				    <div class="col s12 l6">
					    <h5 id="about" class="scrollspy">About Me</h5>
					    <p style="font-family: font-family: 'Assistant', sans-serif; font-size: 20px;">I'm 4th from a family of 7. With a BSc. in Computer Science I'm a full time developer. When I'm not on my Computer screen I listen to music, watch movies, play video games or chess.</p>
				    </div>
				    {{!-- <div class="col s12 l4 offset-l2">
					    <h5>Connect</h5>
					    <ul>
						    <li><a href="https://web.facebook.com/uzoanya.dominic" target="_blank" class="footer-links grey-text text-lighten-3">Facebook</a></li>
						    <li><a href="https://twitter.com/uzoanya_dominic" target="_blank" class="footer-links grey-text text-lighten-3">Twitter</a></li>
						    <li><a href="https://ng.linkedin.com/in/uzoanya-dominic-51b599137" target="_blank" class="footer-links grey-text text-lighten-3">linkedIn</a></li>
						    <li><a href="https://www.instagram.com/sirbarman/?hl=en" target="_blank" class="footer-links grey-text text-lighten-3">Instagram</a></li>
						    <li><a href="https://medium.com/@uzoanyadominic" target="_blank" class="footer-links grey-text text-lighten-3">Medium</a></li>
					    </ul>
				    </div> --}}
			    </div>
		    </div>
		    <div id="footer" class="footer-copyright grey darken-4">
				<div class="container row">
					<div class="col s12 l8">
						<span style="font-size: 20px; font-family: 'Josefin Slab', serif;">&copy; 2018 Uzoanya Dominic Chinomso - nomsouzoanya@yahoo.co.uk</span>
					</div>
					<div>
						<div class="col s12 l4" style="display: inline-block;">
							<span><a href="https://web.facebook.com/uzoanya.dominic" target="_blank" class="btn-floating btn-small transparent blue-text darken-4"><i class="footerLinks fab fa-facebook"></i></a></span>
							<span><a href="https://www.instagram.com/sirbarman/?hl=en" target="_blank" class="btn-floating btn-small transparent blue-text darken-4"><i class="footerLinks fab fa-instagram"></i></a></span>
							<span><a href="https://ng.linkedin.com/in/uzoanya-dominic-51b599137" target="_blank" class="btn-floating btn-small transparent blue-text darken-4"><i class="footerLinks fab fa-linkedin"></i></a></span>
							<span><a href="https://twitter.com/uzoanya_dominic" target="_blank" class="btn-floating btn-small transparent blue-text darken-4"><i class="footerLinks fab fa-twitter"></i></a></span>
							<span><a href="https://medium.com/@uzoanyadominic" target="_blank" class="btn-floating btn-small transparent blue-text darken-4"><i class="footerLinks fab fa-medium"></i></a></span>
						</div>
					</div>
				</div>
		    </div>
		    <div class="fixed-action-btn">
			    <a href="#header" id="top" class="btn-floating blue darken-2"><i class="material-icons">arrow_upward</i></a>
		    </div>
	    </footer>
