<canvas id="page-top" class="header-background scrollspy"></canvas>
<div class="center-align" id="canvas-text">
	<h3><span id="hi">Hi,</span><span id="name"> I'm <span class="dominic">Dominic</span></span><span id="and"> and</span></h3>
	<h5 class="txt-type" data-words='["I am a full-stack web developer", "I am a creator. . .", "I am a programmer. . .", "I am an instructor. . .", "I can be whatever you need me to be.", "a self-proclaimed retired husband. . ."]' id="greetingText">
		<span id="typewriter-text">Web Developer & Programmer</span>
	</h5>
	<a href="#projects-target" class="btn" id="view-work">View My Work</a>
</div>
<div id="background-cover"></div>
{{> header}}
<secton id="about" class="container section scrollspy">
	<h3 class="subheader">A<span class="underline">bou</span>t</h3>
	<div class="row">
		<div class="col s12 m6 l3 card-item">
      		<div class="card medium center">
				<div class="card-content">
					<span class="mdi mdi-clock-fast about-icons"></span>
					<h5>Fast</h5>
					<p>Fast load times and lag free interaction, my highest priority.</p>		
				</div>
			</div>
		</div>
		<div class="col s12 m6 l3 card-item">
      		<div class="card medium center">
				<div class="card-content">
					<span class="mdi mdi-responsive about-icons"></span>
					<h5>Responsive</h5>
					<p>My layouts will work on any device, big or small.</p>		
				</div>
			</div>
		</div>
		<div class="col s12 m6 l3 card-item">
      		<div class="card medium center">
				<div class="card-content">
					<span class="mdi mdi-lightbulb-on-outline about-icons"></span>
					<h5>Intuitive</h5>
					<p>Strong preference for easy to use, intuitive UX/UI.</p>		
				</div>
			</div>
		</div>
		<div class="col s12 m6 l3 card-item">
      		<div class="card medium center">
				<div class="card-content">
					<span class="mdi mdi-rocket about-icons"></span>
					<h5>Dynamic</h5>
					<p>Websites and applications don't have to be static, I love making pages come to life.</p>		
				</div>
			</div>
		</div>
	</div>
	<div id="portfolio" class="row">
		<div class="col s12 l6">
			<div class="hexagon"></div>
			<h5 class="subheader">Who's this guy?</h5>
			<p>He's a result oriented and purpose-driven individual with a flair for making the best out of nothing. Making the impossible possible. <span id="einstein-quote">"Everything should be made as simple as possible, but not simpler."</span> &nbsp;- <span style="font-weight: bold;">Albert Einstein</span></p>
		</div>
		<div class="col s12 l6">
			<div class="row">
				<div class="skill">
					<span class="percent">90&percnt;</span>
					<div class="skill-level html">
						<div class="skill-percentage"><span class="skill-language">HTML</span></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="skill">
					<span class="percent">80&percnt;</span>
					<div class="skill-level css">
						<div class="skill-percentage"><span class="skill-language">CSS</span></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="skill">
					<span class="percent">85&percnt;</span>
					<div class="skill-level javascript">
						<div class="skill-percentage"><span class="skill-language">JavaScript</span></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="skill">
					<span class="percent">65&percnt;</span>
					<div class="skill-level java">
						<div class="skill-percentage"><span class="skill-language">Java</span></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="skill">
					<span class="percent">75&percnt;</span>
					<div class="skill-level node">
						<div class="skill-percentage"><span class="skill-language">NodeJS</span></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="skill">
					<span class="percent">65&percnt;</span>
					<div class="skill-level react">
						<div class="skill-percentage"><span class="skill-language">React</span></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="skill">
					<span class="percent">70&percnt;</span>
					<div class="skill-level mysql">
						<div class="skill-percentage"><span class="skill-language">MySQL</span></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="skill">
					<span class="percent">70&percnt;</span>
					<div class="skill-level sqlite">
						<div class="skill-percentage"><span class="skill-language">SQLite</span></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="skill">
					<span class="percent">75&percnt;</span>
					<div class="skill-level mongodb">
						<div class="skill-percentage"><span class="skill-language">MongoDB</span></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="skill">
					<span class="percent">60&percnt;</span>
					<div class="skill-level firebase">
						<div class="skill-percentage"><span class="skill-language">Firebase</span></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="skill">
					<span class="percent">65&percnt;</span>
					<div class="skill-level ui">
						<div class="skill-percentage"><span class="skill-language">UI/UX Design</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</secton>
<div class="parallax">
	<p>Keep it simple but significant</p>
</div>	
<section id="projects">
	<h3 class="subheader">Pr<span class="underline">ojec</span>ts</h3>
	<div id="projects-target" class="row scrollspy">
		<div class="col s12 m3 l3">
            <div class="card medium hoverable">
                <div class="card-image">
                    <img class="responsive-img materialboxed" src="/img/vegis.PNG" alt="Vegistech.com" data-caption="Vegisetech">
                </div>
                <div class="card-action center">
                    <span><a href="http://www.vegistech.com" target="_blank">Vegistech</a></span>
                </div>
            </div>
        </div>
		<div class="col s12 m3 l3">
            <div class="card medium hoverable">
                <div class="card-image">
                    <img class="responsive-img materialboxed" src="/img/victory-granites.PNG" alt="Victory Granites and Tiles" data-caption="Victory Granites and Tiles">
                </div>
                <div class="card-action center">
                    <span><a href="http://www.victorygranites.com" target="_blank">Victory Granites and Tiles</a></span>
                </div>
            </div>
        </div>
		<div class="col s12 m3 l3">
            <div class="card medium hoverable">
                <div class="card-image">
                    <img class="responsive-img materialboxed" src="/img/zubis-mart.PNG" alt="Zubis Mart" data-caption="Zubis Mart">
                </div>
                <div class="card-action center">
                    <span><a href="http://www.zubismart.com" target="_blank">Zubis Mart</a></span>
                </div>
            </div>
        </div>
		<div class="col s12 m3 l3">
            <div class="card medium hoverable">
                <div class="card-image">
                    <img class="responsive-img materialboxed" src="/img/edufy.PNG" alt="Edufy" data-caption="Edufy E-learning">
                </div>
                <div class="card-action center">
                    <span><a href="www.edufy.com" target="_blank">Edufy E-learning</a></span>
                </div>
            </div>
        </div>
	</div>
</section>
{{> footer}}