header {
	background: url(/img/boy.jpg);
	background-size: cover;
	background-position: center;
	min-height: 1000px;
}

#headerDiv {
	margin-top: 350px;
}

.btn-floating i:hover {
	color: #ffa500;
}

.btn-floating i:active {
	color: red;
}

.side-links:hover {
  	color: #ffa500 !important;
}

.side-links:active {
  	color: red;
}

.section {
	padding-top: 4vw !important;
	padding-bottom: 4vw;
}

.tabs .indicator {
	background-color: #1a237e;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
	background: transparent;
}

.footer-links:hover {
	color: #ffa500 !important;
}

.footer-links:active {
	color: #ff0000 !important;
}

@media screen and (max-width: 670px) {
	header {
  	min-height: 500px;
	}

	#greetingText {
  		max-width: 50%; 
	}

	#headerDiv {
		margin-top: 100px;
	}

	#footer .container .right {
		text-align: center;
	}
 
}

#hi {
	position: relative;
	animation-name: hi;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

@-webkit-keyframes hi {
	0% {
		left: -800px;
	}

	100% {
		left: 0;
	}
}

@-moz-keyframes hi {
	0% {
		left: -800px;
	}

	100% {
		left: 0;
	}
}

@-o-keyframes hi {
	0% {
		left: -800px;
	}

				100% {
					left: 0;
	}
}
			
@keyframes hi {
	0% {
		left: -800px;
	}

	100% {
		left: 0;
	}
}

#name {
	animation-name: im-dominic;
	opacity: 0;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	animation-duration: 3s;
}

@-webkit-keyframes im-dominic {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes im-dominic {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-o-keyframes im-dominic {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes im-dominic {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#greetingText {
	max-width: 30%; 
	opacity: 0;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.4);
	animation-name: greetingText;
	opacity: 0;
	animation-delay: 3s;
	animation-fill-mode: forwards;
	animation-duration: 4s;
}

@-webkit-keyframes greetingText {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes greetingText {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-o-keyframes greetingText {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes greetingText {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


.tabs .indicator{
    background-color: #e65100 !important;
}

.whatIDo {
	font-family: 'Nanum Gothic', sans-serif;
}

#contactMessage {
	font-size: 20px;
	font-family: 'Nanum Gothic', sans-serif;
	word-spacing: 2px;
}

.page-footer .footer-copyright {
	padding: 50px 0px;
}


